body {
    background-color: #242424;
}

h2{
    color: #FFF;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.game {
    margin: 20px auto;
    text-align: center;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    /*HINT: Hide the cursor here */
}